@model IEnumerable<SBDforum.Models.Message>

<div class="container">
    <hr />
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#receiver">Odebrane</a></li>
        <li><a data-toggle="tab" href="#send">Wysłane</a></li>
    </ul>

    <div class="tab-content">

        <div id="receiver" class="tab-pane fade in active">
            <h3>Wiadomości odebrane</h3>
            <p>
                @foreach (var m in Model)
                {
                    <div class="message_panel">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src=@m.Sender.Avatar.ToString() class="media-object" style="height:50px">
                                </div>

                                <div class="media-body">
                                    <br />
                                    Wiadomość od:
                                    <span class="extraText">
                                        <a href="@Url.Action("SpecialDetails", "Users",new { id=m.SenderID})" class="userDetailsLink">
                                            @m.Sender.Nick
                                        </a>
                                    </span> &nbsp&nbsp&nbsp

                                    Data: <span class="extraText">@m.Date</span> &nbsp&nbsp&nbsp

                                    @if (m.Read == false)
                                    {
                                        <span style="font-size: 28px; color: red; font-weight: bold;">NOWE</span>
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="panel-body" style="font-size: 18px;" onclick="update(@m.MessageID)">
                            @m.Text
                        </div>
                    </div>
                }
            </p>
        </div>

        <div id="send" class="tab-pane fade">
            <h3>Wiadomości wysłane</h3>
            <p>
                @foreach (var m in ViewBag.messagesSend)
                {
                    <div class="message_panel">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src=@m.Receiver.Avatar.ToString() class="media-object" style="height:50px">
                                </div>

                                <div class="media-body">
                                    <br />
                                    Wiadomość wysłana do:
                                    <span class="extraText">
                                        <a href="@Url.Action("SpecialDetails", "Users",new { id=m.ReceiverID})" class="userDetailsLink">
                                            @m.Receiver.Nick
                                        </a>
                                    </span> &nbsp&nbsp&nbsp

                                    Data: <span class="extraText">@m.Date</span>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body" style="font-size: 18px;" >
                            @m.Text
                        </div>
                    </div>
                }
            </p>
        </div>

    </div>
</div>
